<a href="https://colab.research.google.com/github/data2450/california-house-price-prediction/blob/main/california_house_price_feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url1='https://raw.githubusercontent.com/data2450/california-house-price-prediction/main/X1_train.csv'
url2='https://raw.githubusercontent.com/data2450/california-house-price-prediction/main/X1_test.csv'

In [ ]:
train=pd.read_csv(url1)
test=pd.read_csv(url2)

In [ ]:
#split it into target and features
y_train=train['median_house_value']
y_test=test['median_house_value']

In [ ]:
y_train.head()

0    11.110954
1    11.291031
2    11.358608
3    11.203679
4    11.089805
Name: median_house_value, dtype: float64

In [ ]:
X_train=train.drop('median_house_value',axis=1)

In [ ]:
X_test=test.drop('median_house_value',axis=1)

In [ ]:
X_train.head(10)

   longitude  latitude  ...  households  median_income
0   1.000000  0.194730  ...    0.706636       0.321790
1   0.984064  0.218837  ...    0.704426       0.379897
2   0.975100  0.136732  ...    0.546554       0.351228
3   0.974104  0.130884  ...    0.622114       0.545040
4   0.974104  0.122684  ...    0.639078       0.396387
5   0.973108  0.129714  ...    0.628533       0.558727
6   0.973108  0.127372  ...    0.740320       0.493317
7   0.972112  0.267743  ...    0.581033       0.361276
8   0.972112  0.127372  ...    0.799056       0.432717
9   0.971116  0.267743  ...    0.642954       0.434413

[10 rows x 8 columns]

In [ ]:
X_test.head(10)

   longitude  latitude  ...  households  median_income
0   0.219814  0.545293  ...    0.731597       0.759011
1   0.606811  0.201418  ...    0.631358       0.580350
2   0.657379  0.145578  ...    0.705691       0.720310
3   0.600619  0.150261  ...    0.218279       0.737197
4   0.465428  0.433592  ...    0.611389       0.520640
5   0.476780  0.453152  ...    0.592190       0.353463
6   0.283798  0.676530  ...    0.600689       0.353569
7   0.364293  0.339897  ...    0.690901       0.548091
8   0.138287  0.652897  ...    0.730109       0.586061
9   0.635707  0.180570  ...    0.730961       0.452940

[10 rows x 8 columns]

# Feature selection

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LinearRegression

In [ ]:
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=0,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [ ]:
feature_sel_model.get_support()

array([ True,  True,  True, False, False, False, False,  True])

In [ ]:
selected_feat = X_train.columns[(feature_sel_model.get_support())]

In [ ]:
selected_feat

Index(['longitude', 'latitude', 'housing_median_age', 'median_income'], dtype='object')

In [ ]:
linridge = Lasso(alpha=0).fit(X_train, y_train)

print('california_house_price')
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  positive)

california_house_price
ridge regression linear model intercept: 12.591530239540232
ridge regression linear model coeff:
[-2.71633167 -2.52480648  0.24687668 -2.84281404  4.53857372 -3.85146576
  1.71669329  2.79560582]
R-squared score (training): 0.681
R-squared score (test): 0.388
Number of non-zero features: 8

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 885.7370552295299, tolerance: 0.5555061535506182
  positive)

In [ ]:
linridge = Lasso(alpha=0.001).fit(X_train, y_train)

print('california_house_price')
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train, y_train),cv=5))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test, y_test),cv=5))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

california_house_price
ridge regression linear model intercept: 12.464157026754648
ridge regression linear model coeff:
[-2.62993329 -2.45329835  0.23346598  0.          1.9368942  -1.840756
  0.          2.39927022]
R-squared score (training): 0.661
R-squared score (test): 0.552
Number of non-zero features: 6

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
linridge = Ridge(alpha=110).fit(X_train, y_train)

print('california_house_price')
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train, y_train),cv=40))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test, y_test),cv=40))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

california_house_price
ridge regression linear model intercept: 11.226377514687712
ridge regression linear model coeff:
[-0.96097141 -1.00795761  0.32120961  0.18170273  0.23772664 -0.28318645
  0.23341295  1.98837857]
R-squared score (training): 0.550
R-squared score (test): 0.524
Number of non-zero features: 8